<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="navbar-brand" href="#">Navbar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://fullstack.edu.vn/static/media/fallback-avatar.155cdb2376c5d99ea151.jpg" alt="" class="user-avatar">
              Hùng Nguyễn
            </a>
            {{!-- style="position: absolute; left: -99px; top: 31px;" --}}
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/courses/create">Publish course</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="/me/stored/courses">My course</a></li>
              <li><a class="dropdown-item" href="/me/stored/articles">My article</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" href="#">Log out</a></li>
            </ul>
          </li>
        </ul>
        {{!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form> --}}
      </div>
    </div>
  </div>
</nav>